<div class="container-fluid text-center bg-dark text-white">
    <div class="row">
        <div class="col-lg-8 my-5">
            <h2>
                Created by dragosDev
            </h2>
            <p class="lead">
                Year 2020 - nodeJS website  
            </p>
        </div>
        <div class="col-lg-4 my-4">
            <ul class="nav flex-column text-left">
                <li class="nav-item"><a href="" class="nav-link text-white h3"><i class="fa fa-gitlab"></i> GitLab</a></li>
                <li class="nav-item"><a href="" class="nav-link text-white h3"><i class="fa fa-instagram"></i> Instagram</a></li>
                <li class="nav-item"><a href="" class="nav-link text-white h3"><i class="fa fa-envelope"></i> e-Mail</a></li>
            </ul>
        <div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>